* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.DemoApp {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
	overflow-x: hidden;
}