.Chart-app {
  padding: 1rem;
  font-family: system-ui;
}

.Chart-app__title {
  margin: 0 0 1rem;
}

.Chart-app__params {
  font-size: 0.875rem;
  background: #f5f5f5;
  padding: 1rem;
  border-radius: 4px;
  margin-bottom: 1rem;
}
